<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khaatabook - Edit Hisaab</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand">Khaatabook</div>
        <div class="navbar-links">
            <a href="/" class="navbar-link">Home</a>
            <a href="/create" class="navbar-link">Create New Hisaab</a>
        </div>
    </nav>
    <div class="container">
        <div class="content">
            <h1 class="title">Edit Hisaab</h1>
            <form class="form" action="/update/<%= fileName %>" method="post">
                <textarea class="form-input" name="fileData"><%= data %></textarea>
                <button type="submit" class="form-submit">Update Hisaab</button>
            </form>
        </div>
    </div>
</body>
</html>
